<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout</title>
</head>
<body>
    <!--  -->
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <!-- float -->
    <h3>normal flow</h3>
    <div style="float: right;">float right </div>
    <div style="float: left;">float left</div>
    <br>
    <!-- position -->
    <h3>position</h3>
    <div style="position: relative;left:80px">relative position h left se 80 pixel </div>
    <div style="position: absolute;top: 50px; left:200px;">absolute position</div>
    <div style="position: fixed; top:400px; left:300px;">fixed position</div>
    <!--flex  -->
    <div style="display: flex;">
        <div style="flex:1">flex 1</div>
        <div style="flex:2">flex 2</div>
        <div style="flex:3">flex 3</div>
    </div>
    <!-- grid -->
    <div style="display: grid; grid-template-columns: 1fr 2fr 1fr; border: 2px solid grey;">
        <div style=" border: 3px solid black;">grid1</div>
        <div style="border: 3px solid black;">grid2</div>
        <div style="border: 3px solid black;">grid 3</div>
    </div>




</body>
</html>